body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #362F2E;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

h1 {
    margin: 0;
}

.root-container {
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 30px;
}

.box {
    background: #c00011;
    color: #fff;;
    padding: 40px;
    border-radius: 30px;
    font-size: 4.15vw;
    text-align: center;
}

.box1 {
    border-bottom-right-radius: 15px;
    margin-top: 30px;
}

.box2 {
    border-top-left-radius: 15px;
    margin-top: 30px;
}

@media only screen and (max-width: 1100px) {
    .box { font-size: 8vw; }
}